/// Makes a flex container element setting `display:flex`, setting up `flex-wrap: wrap`, and clears floats.
///
/// @param {String} $align_vert [stretch]
///   How to align child elements across main axis
///
/// @example scss - Usage
///   .element {
///     @include yoga-container(1040px);
///   }
///
/// @example css - CSS Output
///   .element {
///     display: flex;
///     flex-wrap: wrap;
///     align-items: stretch;
///     *zoom: 1;
///   }
///
///   .element:before, .element:after {
///     content: " ";
///     display: table;
///   }
///
///   .element:after {
///     clear: both;
///   }

@mixin yoga-container($align_vert: stretch) {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: $align_vert;

  *zoom: 1;

  &:before, &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}
