/// Makes a flex container element setting `display:flex`, setting up `flex-wrap: wrap`, clearing floats, setting its `max-width`, and uses margin: auto to center.
///
/// @param {Number [unit]} $local-max-width [$max-width]
///   Max width to be applied to the element. Can be a percentage or a measure.
/// @param {String} $align_vert [stretch]
///   How to align child elements across main axis
///
/// @example scss - Usage
///   .element {
///     @include yoga-outer-container(1040px);
///   }
///
/// @example css - CSS Output
///   .element {
///     display: flex;
///     flex-wrap: wrap;
///     align-items: stretch;
///     max-width: 1040px;
///     margin-left: auto;
///     margin-right: auto;
///     *zoom: 1;
///   }
///
///   .element:before, .element:after {
///     content: " ";
///     display: table;
///   }
///
///   .element:after {
///     clear: both;
///   }

@mixin yoga-outer-container($local-max-width: $max-width, $align_vert: stretch) {
  @include yoga-container($align_vert);

  max-width: $local-max-width;
  margin-left: auto;
  margin-right: auto;
}
