/// Sets the relative width of a single grid gutter to wrap all yoga-column imports. Set with the `!global` flag.
///
/// @type Number (Unit)

$gutter: 2rem !default;

/// Sets the total number of columns in the grid. Its value can be overridden inside a media query using the `media()` mixin. Set with the `!global` flag.
///
/// @type Number (Unitless)

$grid-columns: 12 !default;

/// Sets the max-width property of the element that includes `outer-container()`. Set with the `!global` flag.
///
/// @type Number (Unit)
///
$max-width: 1040px !default;
